﻿
#tblTaskList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tblTaskList td, #tblTaskList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tblTaskList tr:nth-child(even){background-color: #f2f2f2;}

#tblTaskList tr:hover {background-color: #ddd;}

#tblTaskList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7e8bca;
    color: white;
}

.addtaskdiv {
width:100%;float:right
}
.addtaskspan {
float:right;font-weight:bold}