﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Task</title>
</head>
<body ng-app="Tasklist">
    <div ng-controller="Taskcontroller">
        <h1>Add New Task</h1>
            

            <label for="description">Task:</label>

            <input type="text" name="task" maxlength="499" ng-model="task"/> &nbsp;<input type="button" value="+ Task" ng-click="Newtask(task)"/>

    </div>
</body>
</html>
