﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/TaskListstyles.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/TaskScripts.js"></script>
</head>

<body ng-app="Tasklist">
    <div ng-controller="Taskcontroller">
        <div id="divTasklist" ng-show="divtasklist">
            <h1>Task List</h1>
            <div class="addtaskdiv">
                <span class="addtaskspan">
                    <input type="button" value="+New Task" ng-click="showaddtask()" />
                </span>
            </div>
            <table id="tblTaskList">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Date Assigned</th>
                    <th>Time Assigned</th>
                    <th>Status</th>
                    <th>Mark Completed</th>
                </tr>
                <tr ng-repeat="task in TaskList">
                    <td>{{task.Id}}</td>
                    <td>{{task.Description}}</td>
                    <td>{{task.Date}}</td>
                    <td>{{task.Time}}</td>
                    <td>{{task.Completed_Desc}}</td>
                    <td>
                        <input ng-disabled="task.Completed" type="checkbox" ng-click="isCompleted(task.Id)" /></td>
                </tr>

            </table>
        </div>

        <div id="divAddtask" ng-show="divaddtask">
            <h1>Add New Task</h1>

            <label for="description">Task:</label>

            <input type="text" name="task" maxlength="499" ng-model="task" />
            &nbsp;
            <input type="button" value="+ Task" ng-click="showtasklist(task)" />
            &nbsp;
            <input type="button" value="Back" ng-click="Backtolist()" />
        </div>

    </div>
</body>
</html>
